* {
  box-sizing: border-box;
}

html {
  font-family: Open Sans, sans-serif;
}

body {
  margin: 0;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
  border-radius: 5px;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  background: #faefe7;
}

button {
  font: inherit;
  background: #f1812f;
  border: 1px solid #f1812f;
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #db6007;
  border-color: #db6007;
}

#app {
  max-width: 1200px;
  margin: auto;
}

.header {
  text-align: center;
  color: #555555;
  border-radius: 10px;
}

.projects {
  margin: 1rem;
  border: 1px solid #f1812f;
  border-radius: 10px;
}

.projects header {
  background: #f1812f;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}

#finished-projects {
  border-color: #40b475;
}

#finished-projects header {
  background: #40b475;
}

.projects h2 {
  margin: 0;
  color: white;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.projects li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
}

.projects li h2 {
  color: #f1812f;
  margin: 0.5rem 0;
}

#finished-projects li h2 {
  color: #40b475;
}

.projects li h3 {
  color: #575757;
  font-size: 1rem;
}

.project li p {
  margin: 0;
}

.droppable {
  background: #ffe3cf;
}

#finished-projects .droppable {
  background: #dfefe7;
}

#user-input {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #f1812f;
  border-radius: 10px;
  background: #f7f7f7;
  color: #333333;
}
